<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSN</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
            <img src="/msn_logo_icon_181375.png" alt="Logo" style="height: 30px;">
            <h1 style="margin: 0; margin-left: 5px; font-size: 25px">MSN</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <form class="form-inline">
                        <div class="d-flex">
                            <input class="form-control mr-sm-0" style="border-top-right-radius: 0; border-bottom-right-radius: 0" type="search" placeholder="Ara" aria-label="Ara">
                            <button class="btn my-2 my-sm-0" style="border-top-left-radius: 0; border-bottom-left-radius: 0; background-color:rgb(0, 166, 255)" type="submit">Ara</button>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button id="loginButton" type="button" class="btn btn-primary"><img src="./public/loginLogo.svg"></button>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M14 3a8.5 8.5 0 018.5 8.25v4.86l1.41 3.65c.04.1.07.2.08.3l.01.16c0 .66-.5 1.2-1.15 1.27l-.13.01H17.5a3.5 3.5 0 01-7 .2v-.2H5.27a1.28 1.28 0 01-1.23-1.62l.04-.12L5.5 16.1v-4.6C5.5 6.8 9.3 3 14 3zm2 18.65v-.15h-4a2 2 0 004 .15zM14 4.5a7 7 0 00-7 6.76v4.99c0 .07 0 .13-.02.19l-.03.09L5.6 20h16.8l-1.35-3.48a.75.75 0 01-.04-.17V11.5a7 7 0 00-7.01-7z"></path></svg>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Some news</a>
                        <a class="dropdown-item" href="#">Another news</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#settingsModal">Ayarlar</button>
                    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="settingsModalLabel">Ayarlar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <select id="languageSelect" class="form-control">
                                        <option value="tr">Türkçe</option>
                                        <option value="en">English</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="general-div">
        <div class="narrow-div">
            <div class="bar">
                <div class="menu-item" id="weather">Yükleniyor...</div>
                <div class="menu-item" data-translate="Spor">Spor</div>
                <div class="menu-item" data-translate="Finans">Finans</div>
                <div class="menu-item" data-translate="Haber">Haber</div>
                <div class="menu-item" data-translate="Eğlence">Eğlence</div>
                <div class="menu-item" data-translate="Astroloji">Astroloji</div>
                <div class="menu-item" data-translate="Otomobil">Otomobil</div>
                <div class="menu-item" data-translate="Yaşam">Yaşam</div>
                <div class="menu-item" data-translate="Hava Durumu">Hava Durumu</div>
                <div class="menu-item" data-translate="Video">Video</div>
            </div>
        </div>
    </div>
    <div class="another-div">
        <div class="narrow-div">
            <div class="row">
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <% slider.forEach((slide, index) => { %>
                                <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
                            <% }) %>
                        </ol>
                        <div class="carousel-inner">
                            <% slider.forEach((slide, index) => { %>
                                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                    <a href="/newsDetail?id=<%= slide.idnews %>">
                                        <img src="<%= slide.image %>" class="d-block w-100" alt="<%= slide.topic %>">
                                        <div class="carousel-caption d-none d-md-block text-left">
                                            <h5 style="background-color: rgba(120, 119, 119, 0.486);"><%= slide.topic %></h5>
                                        </div>
                                    </a>
                                </div>
                            <% }) %>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <% for(let i = 0; i < randomNews.length; i++) { %>
                            <div class="col-md-6" style="height: 200px;"> <!-- Kartların sabit yüksekliği -->
                                <a href="/newsDetail?id=<%= randomNews[i]['idnews'] %>">
                                    <div class="card" style="height: 100%; margin-bottom: 10px;">
                                        <div class="card-body d-flex flex-column justify-content-between"> <!-- İçeriği kartın içine yerleştirmek için -->
                                            <div style="width: 100%; height: 200px; overflow: hidden; position: relative;">
                                                <img src="<%= randomNews[i]['image'] %>" class="d-block" alt="" style="width: 100%;">
                                                <h5 class="card-title" style="position: absolute; bottom: 0; left: 0; right: 0; padding: 10px; margin: 0; color: white; font-size: 15px; background-color: rgba(120, 119, 119, 0.486);"> <!-- Başlık etiketi -->
                                                    <%= randomNews[i]['topic'] %>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <script>
        // Konum bilgisini al
        navigator.geolocation.getCurrentPosition(function(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            // Hava durumu bilgisini almak için bir API kullanabilirsiniz
            // Örnek API: OpenWeatherMap
            var apiKey = '86cac02f2ce7570ee7a07453d958fe81';
            var apiUrl = 'https://api.openweathermap.org/data/2.5/weather?lat=' + latitude + '&lon=' + longitude + '&appid=' + apiKey;

            // Hava durumu bilgisini almak için istek yap
            fetch(apiUrl)
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    // Hava durumu bilgilerini kullanarak sayfada göster
                    var temperatureKelvin = data.main.temp;
                    var temperatureCelsius = (temperatureKelvin - 273.15).toFixed(1);
                    var cityName = data.name;

                    // İlgili HTML öğesine hava durumu bilgilerini yaz
                    var weatherElement = document.getElementById('weather');
                    weatherElement.innerHTML = cityName + ' / ' + temperatureCelsius + '°C';
                })
                .catch(function(error) {
                    console.error('Hata:', error);
                });
        });

        // Login butonuna tıklanınca signInUp sayfasını aç
        document.getElementById('loginButton').addEventListener('click', function() {
            // signInUp sayfasını açmak için window.location.href kullanılır
            window.location.href = '/signIn';
        });

        // Language switcher
        document.getElementById('languageSelect').addEventListener('change', function() {
            const selectedLanguage = this.value;
            setCookie('language', selectedLanguage, 365);
            switchLanguage(selectedLanguage);
        });

        function switchLanguage(language) {
            const translations = {
                'tr': {
                    'Spor': 'Spor',
                    'Finans': 'Finans',
                    'Haber': 'Haber',
                    'Eğlence': 'Eğlence',
                    'Astroloji': 'Astroloji',
                    'Otomobil': 'Otomobil',
                    'Yaşam': 'Yaşam',
                    'Hava Durumu': 'Hava Durumu',
                    'Video': 'Video',
                    'Ara': 'Ara'
                },
                'en': {
                    'Spor': 'Sports',
                    'Finans': 'Finance',
                    'Haber': 'News',
                    'Eğlence': 'Entertainment',
                    'Astroloji': 'Astrology',
                    'Otomobil': 'Automobile',
                    'Yaşam': 'Life',
                    'Hava Durumu': 'Weather',
                    'Video': 'Video',
                    'Ara': 'Search'
                }
            };
            
            document.querySelectorAll('[data-translate]').forEach(el => {
                const key = el.getAttribute('data-translate');
                el.textContent = translations[language][key];
            });

            document.querySelectorAll('[placeholder]').forEach(el => {
                const key = el.getAttribute('placeholder');
                if (translations[language][key]) {
                    el.setAttribute('placeholder', translations[language][key]);
                }
            });
        }

        function setCookie(name, value, days) {
            const d = new Date();
            d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
            const expires = "expires=" + d.toUTCString();
            document.cookie = name + "=" + value + ";" + expires + ";path=/";
        }

        function getCookie(name) {
            const cname = name + "=";
            const decodedCookie = decodeURIComponent(document.cookie);
            const ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(cname) === 0) {
                    return c.substring(cname.length, c.length);
                }
            }
            return "";
        }

        document.addEventListener('DOMContentLoaded', () => {
            const language = getCookie('language') || 'tr';
            document.getElementById('languageSelect').value = language;
            switchLanguage(language);
        });
    </script>
</body>
</html>
